<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Sub Article</title>
    <%- include('../common/head') %>
</head>

<body>
    <div class="container">

        <h1 class="mb-4">Edit Sub Article</h1>

        <!-- Указываем что я буду передавать файлы, в частности изображения - enctype="multipart/form-data" -->
        <form action="/articles/subarticle/edit/<%= subArticle.id %>?parentArticleId=<%= locals.parentArticleId %>&_method=PUT" method="POST" enctype="multipart/form-data">
            <%- include('_form_fields') %>
        </form>

    </div>
</body>

</html>